.bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 columns */
    grid-gap: 10px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: #fff;
}

.square {
    box-sizing: border-box; /* 确保边框和内边距包含在总宽度和总高度内 */
    background-color: #eee;
    border: 2px solid #ddd;
    padding: 20px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.square.special {
    color: gold;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: default;
    pointer-events: none;
    /* Ensure that the special square doesn't affect the grid layout */
    display: inline-block; /* Make the star an inline element inside the flex container */
    line-height: 1; /* Adjust line height to prevent affecting the square size */
    margin: 0; /* Remove any margin that could affect neighboring squares */
}

.square:hover {
    background-color: #d7ebf9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.square.clicked {
    background-color: #aacfd0;
    color: #fff;
}

.rules-button {
    grid-column: 1 / -1; /* Makes the button span all columns */
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.rules-button:hover {
    background-color: #555;
}