.bingo-board {
    display: grid;
    /* Creates 5 columns */
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12px;
    max-width: 400px;
    margin: 12px auto;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
}

.square {
    /* 确保边框和内边距包含在总宽度和总高度内 */
    box-sizing: border-box;
    background-color: #eee;
    border: 2px solid #ddd;
    padding: 16px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.square.special {
    color: #F4B400;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: default;
    /* Ensure that the special square doesn't affect the grid layout */
    pointer-events: none;
    /* Make the star an inline element inside the flex container */
    display: inline-block;
    /* Adjust line height to prevent affecting the square size */
    line-height: 1;
    /* Remove any margin that could affect neighboring squares */
    margin: 0;
}

.square.clicked {
    background-color: #0F9D58;
    color: #fff;
}

.submit-button {
    /* Makes the button span all columns */
    grid-column: 1 / -1;
    padding: 12px;
    margin-top: 24px;
    cursor: pointer;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, opacity 0.3s, transform 0.2s;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #357ae8; /* Slightly darker shade when hovered for better UI interaction */
    transform: scale(1.02); /* Slight increase in size to give feedback */
}

.submit-button:disabled {
    background-color: #a0c1f8; /* Lighter and more subdued blue */
    color: #ffffffb3; /* Slightly transparent white */
    cursor: not-allowed; /* Indicates the button is not clickable */
    opacity: 0.7; /* Make it look more disabled */
    transform: none; /* Reset any transform effects */
}