.modal {
  display: flex;
  align-items: center; /* Aligns vertically */
  justify-content: center; /* Aligns horizontally */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease; /* Smooth transition for modal appearance */
}

.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 40px;
  border: none;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 8px; /* Rounded corners */
  transition: all 0.3s ease;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.2s;
}

.close:hover,
.close:focus {
  color: #333; /* Darker color on hover for the close button */
  text-decoration: none;
  cursor: pointer;
}

input[type="text"] {
  width: calc(100% - 20px); /* Full-width minus padding */
  padding: 10px;
  margin-top: 20px; /* Spacing between the question and the input */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 4px; /* Rounded corners for the input field */
  box-sizing: border-box; /* Border-box to include padding and border in the width */
}