.toast {
    position: fixed;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F4B400;
    color: white;
    padding: 16px;
    border-radius: 12px;
    z-index: 1000;
    /* Making the toast wider */
    min-width: 70%;
    /* Centering the text inside the toast */
    text-align: center;
}